h2{
	color: red;
}
h2{
	color: red;
}
h2.Horeur{
	color: yellow:
}
h2.Seinen{
	color: yellow;
}
h1.Shonen{
	color: yellow;
}
header{
	width: 100%;
	height: 50px;
}
a{
	font-size: 1.6em;
	margin: 20px;
	color: blue;
}body{
	background: black;
}
